<section class="about">
    <div class="container">
        <h2 class="section__head">О нашей компании</h2>
        <div class="about__wrapper">
            <div class="about__wrapper--left">
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
                <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
            </div>
            <div class="about__wrapper--right">
                <app-gallery></app-gallery>
            </div>
        </div>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consequatur consequuntur, corporis eum exercitationem harum laudantium maxime praesentium quo, ut. Aliquid assumenda dolorum eligendi illum quas sapiente vel!</p>
    </div>
</section>
