<app-filter></app-filter>
<section class="services">
    <div class="container">
        <div class="services__wrapper">
            
            
            <div *ngFor="let service of services.home;" class="card ">
                <div class="card__image">
                    <img src="{{ service.img }}" alt="Картинка услуги" class="card__image--pic">
                </div>
                <div class="card__desc">
                    <h3 class="card__desc--head">{{ service.title }}</h3>
                    <h3 class="card__desc--subhead">{{ service.category.title }}</h3>
                    <div class="card__params">
                        <div *ngFor="let data of service.data;" class="card__params--row">
                            <p class="card__params--head">{{ data.key }}</p>
                            <p class="card__params--data">{{ data.value }}</p>
                        </div>
                    </div>
                    <p class="card__text">{{ service.desc }}</p>
                </div>
            </div>
            <div *ngFor="let service of services.street;" class="card ">
                <div class="card__image">
                    <img src="{{ service.img }}" alt="Картинка услуги" class="card__image--pic">
                </div>
                <div class="card__desc">
                    <h3 class="card__desc--head">{{ service.title }}</h3>
                    <h3 class="card__desc--subhead">{{ service.category.title }}</h3>
                    <div class="card__params">
                        <div *ngFor="let data of service.data;" class="card__params--row">
                            <p class="card__params--head">{{ data.key }}</p>
                            <p class="card__params--data">{{ data.value }}</p>
                        </div>
                    </div>
                    <p class="card__text">{{ service.desc }}</p>
                </div>
            </div>
            <div *ngFor="let service of services.area;" class="card ">
                <div class="card__image">
                    <img src="{{ service.img }}" alt="Картинка услуги" class="card__image--pic">
                </div>
                <div class="card__desc">
                    <h3 class="card__desc--head">{{ service.title }}</h3>
                    <h3 class="card__desc--subhead">{{ service.category.title }}</h3>
                    <div class="card__params">
                        <div *ngFor="let data of service.data;" class="card__params--row">
                            <p class="card__params--head">{{ data.key }}</p>
                            <p class="card__params--data">{{ data.value }}</p>
                        </div>
                    </div>
                    <p class="card__text">{{ service.desc }}</p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
