.nav {
  display: flex;
  align-items: center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.p-menubar {
  .p-menuitem {
    transition: background-color .3s;

    .p-menuitem-link {
      height: 60px;
      width: 100px;
      justify-content: center;
    }
    &:hover {
      .p-menuitem-link {
        text-decoration: underline;
      }
    }
    &.active {
      .p-menuitem-link {
        text-decoration: underline;
      }
    }
  }
}

.logo,
.header__contacts,
.header__socials {
  display: flex;
  align-items: center;
}

.header__contacts-list {
  display: flex;
  justify-content: space-between;
  .header__contacts-link {
    margin-right: 20px;
  }
}

.socials {
  display: flex;
  .socials__item {
    margin-right: 10px;
  }
  .socials__item:last-child {
    margin-right: 0;
  }
  .socials__item-link {
    font-size: 40px;
  }
}
