<div class="container">
    <div class="header__wrapper">
        <div class="logo">
            <img src="/assets/img/logo.png" alt="logo">
        </div>
        <div class="header__contacts">
            <ul class="header__contacts-list">
                <li>
                    т.<a href="tel:89999999999" class="header__contacts-link">8(999)999-99-99</a>
                </li>
                <li>
                    <a href="mailto:email@mail.com" class="header__contacts-link">email@mail.com</a>
                </li>
            </ul>
        </div>
        <p-menubar [model]="menu" class="nav"></p-menubar>
        <div class="header__socials">
            <ul class="socials">
                <li class="socials__item socials__item--vk">
                    <a href="https://vk.com" class="socials__item-link pi pi-vimeo"></a>
                </li>
                <li class="socials__item socials__item--telegram">
                    <a href="https://telegram.org/" class="socials__item-link pi pi-telegram"></a>
                </li>
                <li class="socials__item socials__item--facebook">
                    <a href="https://facebook.com" class="socials__item-link pi pi-facebook"></a>
                </li>
            </ul>
        </div>
    </div>
    
</div>
