.filter {
  padding-top: 40px;
}
.filter__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  > * {
    margin-right: 15px;
    flex: 1;
  }
  &:last-child {
    margin-right: 0;
  }
}
.p-dropdown {
  width: 100%;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  .p-dropdown-label.p-placeholder {
    color: #6c757d;
  }
  .p-dropdown-label {
    background: transparent;
    border: 0 none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .p-dropdown-trigger {
    background: transparent;
    color: #6c757d;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .p-dropdown-clear-icon {
    color: #6c757d;
    right: 3rem;
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
  }
}
.layout-wrapper .layout-content .content-section.implementation {
  color: var(--text-color);
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 1.75rem;
}

.p-overlay-content {
  transform-origin: inherit;
}
.p-dropdown-panel {
    background: #ffffff;
    color: #495057;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .p-dropdown-items {
    padding: 0.75rem 0;

    .p-dropdown-item {
      margin: 0;
      padding: 0.75rem 1.25rem;
      border: 0 none;
      color: #495057;
      background: transparent;
      transition: box-shadow 0.2s;
      border-radius: 0;
      cursor: pointer;
      font-weight: 400;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      &:not(.p-highlight):not(.p-disabled):hover {
        color: #495057;
        background: #e9ecef;
      }
    }
  }
}

.inputs__container {
  display: flex;
  > * {
    margin-right: 15px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.form__group--label {
  color: #626262;
}
