<p-galleria [value]="images" [(visible)]="displayCustom" [activeIndex]="activeIndex"
            [containerStyle]="{'max-width': '80vw'}" [numVisible]="7"
            [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
            [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item> 
        <img src="{{ item.img }}" alt="{{ item.alt }}" class="gallery__content-image">
    </ng-template>
<!--    <ng-template pTemplate="thumbnail" let-item>-->
<!--        <div class="grid">-->
<!--            <img [src]="item.alt" alt="{{ item.alt }}"/>-->
<!--            <span>{{ item.url  }}</span>-->
<!--        </div>-->
<!--    </ng-template>-->
</p-galleria>


<div *ngIf="images" class="grid">
    <div *ngFor="let image of images; let index = index;" class="thumbnail" key="index">
        <img src="{{ image.thumb }}" alt="{{ image.alt }}" class="thumbnail__pic" style="cursor: pointer" (click)="imageClick(index)"/>
    </div>
</div>
