.hero__wrapper {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
}


.hero__desc {
    padding: 40px 0;
    height: 60%;

    .hero__desc--subhead {
        margin-bottom: 40px;
    }

    .hero__desc--text {
        margin-bottom: 30px;
    }
}

.hero__desc {
    display: flex;
    flex-direction: column;
}

.hero__buttons {
    padding: 60px 0;
    button {
        margin-right: 20px;
        margin-bottom: 80px;

        .button-text {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 20px;

            &:before {
                margin-right: 10px;
            }
        }
    }
}






.section__head--y-offset {
    padding: 80px 0;
}



.strengths {
    height: 100vh;
}

.strengths__wrapper {
    display: flex;
    flex-direction: column;

    .strengths__row {
        display: flex;
        flex: 1;

        .strength {
            flex: 1;
        }
    }

    .strength {
        padding: 20px;
        display: flex;
        min-height: 40vh;
        align-items: center;
        position: relative;
    }

    .strength:before {
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        filter: grayscale(100) brightness(0.3);
        z-index: -1;
    }

    .strength-1 {
        justify-content: flex-start;
        align-items: center;

        &:before {
            background: center/cover url(/assets/img/art/art.jpg) no-repeat;
        }


    }

    .strength-2 {
        justify-content: flex-end;
        align-items: center;

        &:before {
            background: center/cover url(/assets/img/art/art-2.jpg) no-repeat;
        }

    }

    .strength-3 {
        justify-content: flex-end;
        align-items: flex-start;

        &:before {
            background: center/cover url(/assets/img/art/art-3.jpg) no-repeat;
        }
    }

    .strength-4 {
        justify-content: flex-start;
        align-items: flex-end;

        &:before {
            background: center/cover url(/assets/img/art/art-4.jpg) no-repeat;
        }
    }

    .strength__text {
        max-width: 60%;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
}


.types__row {
    display: flex;
    margin-bottom: 40px;

    .type_desc--head {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .type_desc--text {
        font-size: 24px;
    }

    &.types__row--reverse {
        flex-direction: row-reverse;

        .type_desc--head,
        .type_desc--text {
            text-align: right;
        }
    }
}





.related-services__wrapper {
    display: flex;
    justify-content: space-between;
}

.service {
    position: relative;
    width: 30%;
    padding: 20px;
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(100) brightness(0.3);
    z-index: -1;
}

.service-1::before {
    background: center/cover url(/assets/img/art/art.jpg) no-repeat;
}

.service-2::before {
    background: center/cover url(/assets/img/art/art-2.jpg) no-repeat;
}

.service-3::before {
    background: center/cover url(/assets/img/art/art-3.jpg) no-repeat;
}


.service__head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #fff;
}

.service__subhead {
    font-size: 24px;
    margin-bottom: 40px;
    color: #fff;
}

.service__params--row {
    display: flex;
}

.service__params {
    margin-bottom: 20px;
}

.service__params--head,
.service__params--data {
    flex: 1;
    color: #fff;
}



.contacts{
    margin-bottom: 40px;
}
.contacts__wrapper {
    height: 60vh;
}

.contacts__table {
    height: 40%;
    padding: 20px 0;
}

.contacts__table--row {
    padding: 20px 0;
    display: flex;
}

.contacts__table--head,
.contacts__table--data {
    font-size: 24px;
}

.contacts__table--head {
    width: 20%;
}

.contacts__table--data {
    width: 70%;
}

.contacts__map {
    height: 60%;
    width: 100%;
    overflow: hidden;
    .contacts__map-pic{
        width: 100%;
    }
}
