<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__desc">
                <h1 class="hero__desc--head section__head">Новый год</h1>
                <h2 class="hero__desc--subhead">очень весело очень весело очень весело</h2>
                <p class="hero__desc--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.</p>

                <div class="hero__buttons">
                    <button class="button"><p class="button-text pi pi-phone">Позвонить нам</p></button>
                    <button class="button"><p class="button-text pi pi-whatsapp">Написать WatsApp</p></button>
                    <button class="button"><p class="button-text pi pi-telegram">Написать Telegram</p></button>
                </div>
            </div>
            

        </div>
    </div>
</section>

<section class="strengths">
    <div class="container">
        <h2 class="section__head">почему мы</h2>
    </div>
    <div class="container">
        <div class="strengths__wrapper">
            <div class="strengths__row">
                <div class="strength strength-1">
                    <p class="strength__text">Несколько сценариев на выбор для каждой программы</p>
                </div>
                <div class="strength strength-2">
                    <p class="strength__text">Оригинальные игры</p>
                </div>
            </div>
            <div class="strengths__row">
                <div class="strength strength-3">
                    <p class="strength__text">Уникальный, изготовленный под сюжет программы реквизит</p>
                </div>
                <div class="strength strength-4">
                    <p class="strength__text">Уникальный, изготовленный под сюжет программы реквизит</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="types">
    <div class="container">
        <h2 class="section__head section__head--y-offset">мы предлагаем</h2>
        <div class="types__row">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#home"></use>
                </svg>
            </div>
            <div class="type__desc">
                <h3 class="type_desc--head">Дед Мороз у вас дома</h3>
                <p class="type_desc--text">Мы познакомимся с детьми, покажем им сказку, в героями которой они станут,
                    послушаем как дети рассказывают стихи, подарим подарки, устроим фотосессию для всех желающих.</p>
            </div>
        </div>
        <div class="types__row types__row--reverse">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#area"></use>
                </svg>
            </div>
            <div class="type__desc">
                <h3 class="type_desc--head">Большой праздник</h3>
                <p class="type_desc--text">Поучительные истории с соревнованиями по командам.<br/>
                    Оригинальные игры для разного числа участников.<br/>
                    Вручение подарков. Фотосессия.</p>
            </div>
        </div>
        <div class="types__row">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#street"></use>
                </svg>
            </div>

            <div class="type__desc">
                <h3 class="type_desc--head">Уличные гуляния</h3>
                <p class="type_desc--text">Организуем новогоднее веселье с такими гостями, как Дед Мороз, Снегурочка,
                    серый волк Музыка и конкурсы с сюжетом. Широкий выбор дополнительного оборудования (сцены, звук,
                    фото и видео, сани с лошадью…)</p>
            </div>
        </div>
    </div>
</section>


<section class="employees">
    <div class="container">
        <h2 class="section__head section__head--y-offset">Сотрудники</h2>
        <app-carousel></app-carousel>
    </div>
</section>

<section class="related-services">
    <div class="container">
        <h2 class="section__head">Популярные программы</h2>
        <div class="related-services__wrapper">
            <div class="service service-1">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-2">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-3">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
        </div>
    </div>
</section>


<section class="contacts">
    <div class="container">
        <h2 class="section__head">НАШИ контакты</h2>
        <div class="contacts__wrapper">
            <div class="contacts__table">
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Email</p>
                    <p class="contacts__table--data">mail@mail.com</p>
                </div>
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Адрес</p>
                    <p class="contacts__table--data">г. Санкт-Петербург, ул. Малая Конюшенная, д. 25, оф. 235</p>
                </div>
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Телефон</p>
                    <p class="contacts__table--data">+7(999)999-99-99</p>
                </div>
            </div>
            <div class="contacts__map">
                <img src="/assets/img/map.png" alt="map" class="contacts__map-pic">
            </div>
        </div>
    </div>
</section>


<section class="order">
    <div class="container">
        <h2 class="section__head">Оставьте заявку прямо сейчас!</h2>
        <div class="oreder__wrapper">
            <div class="order__form">
                <div class="order__form--inputs">
                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="имя">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="фамилия">
                            </div>
                        </div>


                    </div>

                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input type="text" pInputText placeholder="email">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                <input type="text" pInputText placeholder="телефон">
                            </div>
                        </div>


                    </div>

                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>
                                <input type="text" pInputText placeholder="город">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-directions-alt"></i></span>
                                <input type="text" pInputText placeholder="улица">
                            </div>
                        </div>


                    </div>

                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                                <input type="text" pInputText placeholder="дом">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                                <input type="text" pInputText placeholder="квартира">
                            </div>
                        </div>


                    </div>

                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-sun"></i></span>
                                <input type="text" pInputText placeholder="программа">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                <input type="text" pInputText placeholder="дата">
                            </div>
                        </div>
                    </div>

                    <div class="order__form--row">
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-bell"></i></span>
                                <input type="text" pInputText placeholder="возраст участников">
                            </div>
                        </div>
                        <div class="order__form--input">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
                                <input type="text" pInputText placeholder="количество участников">
                            </div>
                        </div>
                    </div>

                    <div class="order__form--row">
                        <textarea class="order__textarea"  rows="8" placeholder="комментарий" pInputTextarea></textarea>
                    </div>
                </div>
                
                
                <button class="button">Заказать</button>
            </div>
            
            
            <div class="order__service">

                <div class="order__service--content">
                    <div class="order__service--image">
                        <img src="/assets/img/art/art-4.jpg" alt="service" class="order__service--image-pic">
                    </div>
                    <div class="order__service--desc">
                        <h4 class="order__service--desc--head">Название программы</h4>
                        <h5 class="order__service--desc--subhead">тип программы</h5>
                        <div class="order__service--desc--table">
                            <div class="order-service__row">
                                <p class="order-service__head">Возраст</p>
                                <p class="order-service__data">4-7 лет</p>
                            </div>
                            <div class="order-service__row">
                                <p class="order-service__head">Длительность</p>
                                <p class="order-service__data">45 минут</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button class="button">Подробнее о программе</button>
                
            </div>
            
            
            
        </div>
    </div>
</section>
