<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__desc">
                <h1 class="hero__desc--head section__head">Новый год</h1>
                <h2 class="hero__desc--subhead">очень весело очень весело очень веселоf</h2>
                <p class="hero__desc--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.</p>

                <div class="hero__buttons">
                    <button class="button"><p class="button-text pi pi-phone">Позвонить нам</p></button>
                    <button class="button"><p class="button-text pi pi-whatsapp">Написать WatsApp</p></button>
                    <button class="button"><p class="button-text pi pi-telegram">Написать Telegram</p></button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-strengths></app-strengths>

<section class="types">
    <div class="container">
        <h2 class="section__head section__head--y-offset">мы предлагаем</h2>
        <div class="types__row">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#home"></use>
                </svg>
            </div>
            <div class="type__desc">
                <h3 class="type_desc--head">Дед Мороз у вас дома</h3>
                <p class="type_desc--text">Мы познакомимся с детьми, покажем им сказку, в героями которой они станут,
                    послушаем как дети рассказывают стихи, подарим подарки, устроим фотосессию для всех желающих.</p>
            </div>
        </div>
        <div class="types__row types__row--reverse">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#area"></use>
                </svg>
            </div>
            <div class="type__desc">
                <h3 class="type_desc--head">Большой праздник</h3>
                <p class="type_desc--text">Поучительные истории с соревнованиями по командам.<br/>
                    Оригинальные игры для разного числа участников.<br/>
                    Вручение подарков. Фотосессия.</p>
            </div>
        </div>
        <div class="types__row">
            <div class="icon">
                <svg class="icon__pic">
                    <use xlink:href="/assets/img/sprite.svg#street"></use>
                </svg>
            </div>

            <div class="type__desc">
                <h3 class="type_desc--head">Уличные гуляния</h3>
                <p class="type_desc--text">Организуем новогоднее веселье с такими гостями, как Дед Мороз, Снегурочка,
                    серый волк Музыка и конкурсы с сюжетом. Широкий выбор дополнительного оборудования (сцены, звук,
                    фото и видео, сани с лошадью…)</p>
            </div>
        </div>
    </div>
</section>

<section class="employees">
    <div class="container">
        <h2 class="section__head section__head--y-offset">Сотрудники</h2>
        <app-carousel></app-carousel>
    </div>
</section>

<section class="related-services">
    <div class="container">
        <h2 class="section__head">Популярные программы</h2>
        <div class="related-services__wrapper">
            <div class="service service-1">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-2">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-3">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
        </div>
    </div>
</section>

<app-contacts></app-contacts>

<app-order></app-order>
