<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__desc">
                <h1 class="hero__desc--head section__head">Новый год</h1>
                <h2 class="hero__desc--subhead">очень весело очень весело очень веселоf</h2>
                <p class="hero__desc--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad
                    alias autem beatae commodi, ducimus, eius excepturi harum laboriosam laborum laudantium minima minus
                    possimus praesentium quasi quod suscipit vel veniam.</p>

                <div class="hero__buttons">
                    <button class="button"><p class="button-text pi pi-phone">Позвонить нам</p></button>
                    <button class="button"><p class="button-text pi pi-whatsapp">Написать WatsApp</p></button>
                    <button class="button"><p class="button-text pi pi-telegram">Написать Telegram</p></button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-strengths></app-strengths>

<app-categories></app-categories>

<app-employees></app-employees>

<app-contacts></app-contacts>

<app-order></app-order>
