<section class="related-services">
    <div class="container">
        <h2 class="section__head">Популярные программы</h2>
        <div class="related-services__wrapper">
            <div *ngFor="let service of relatedServices;" class="service">
                <div class="service__content">
                    <div class="service__img">
                        <img src="{{ service.img }}" alt="Картинка услуги" class="service__img-pic">
                    </div>

                    <h4 class="service__head">{{ service.title }}</h4>
                    <h5 class="service__subhead">{{ service.subTitle }}</h5>
                    <div class="service__params">
                        <div *ngFor="let data of service.data;" class="service__params--row">
                            <p class="service__params--head">{{ data.key }}</p>
                            <p class="service__params--data">{{ data.value }}</p>
                        </div>
                    </div>
                </div>

                <button class="button">Подробнее</button>
            </div>
        </div>
    </div>
</section>
