<section class="related-services">
    <div class="container">
        <h2 class="section__head">Популярные программы</h2>
        <div class="related-services__wrapper">
            <div class="service service-1">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-2">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
            <div class="service service-3">
                <h4 class="service__head">Название программы</h4>
                <h5 class="service__subhead">тип программы</h5>
                <div class="service__params">
                    <div class="service__params--row">
                        <p class="service__params--head">Возраст</p>
                        <p class="service__params--data">4-7 лет</p>
                    </div>
                    <div class="service__params--row">
                        <p class="service__params--head">Длительность</p>
                        <p class="service__params--data">45 минут</p>
                    </div>
                </div>
                <button class="button">Подробнее</button>
            </div>
        </div>
    </div>
</section>
