<section class="contacts">
    <div class="container">
        <h2 class="section__head">НАШИ контакты</h2>
        <div class="contacts__wrapper">
            <div class="contacts__table">
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Email</p>
                    <p class="contacts__table--data">mail@mail.com</p>
                </div>
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Адрес</p>
                    <p class="contacts__table--data">г. Санкт-Петербург, ул. Малая Конюшенная, д. 25, оф. 235</p>
                </div>
                <div class="contacts__table--row">
                    <p class="contacts__table--head">Телефон</p>
                    <p class="contacts__table--data">+7(999)999-99-99</p>
                </div>
            </div>
            <div class="contacts__map">
                <img src="/assets/img/map.png" alt="map" class="contacts__map-pic">
            </div>
        </div>
    </div>
</section>
