<section class="strengths">
    <div class="container">
        <h2 class="section__head">почему мы</h2>
    </div>
    <div class="container">
        <div class="strengths__wrapper">
            <div class="strengths__row">
                <div class="strength strength-1">
                    <p class="strength__text">Несколько сценариев на выбор для каждой программы</p>
                </div>
                <div class="strength strength-2">
                    <p class="strength__text">Оригинальные игры</p>
                </div>
            </div>
            <div class="strengths__row">
                <div class="strength strength-3">
                    <p class="strength__text">Уникальный, изготовленный под сюжет программы реквизит</p>
                </div>
                <div class="strength strength-4">
                    <p class="strength__text">Уникальный, изготовленный под сюжет программы реквизит</p>
                </div>
            </div>

        </div>
    </div>
</section>
