<section class="accordion">
    <div class="container">
        <h2 class="section__head">Программы для площадок</h2>

        <p-accordion iconPos="end" collapseIcon="pi pi-arrow-down" expandIcon="pi pi-arrow-right">
            <p-accordionTab header="Утренник в детском саду" [selected]="true" class="accordion__item">
                <div class="accordion__item--content">
                    <div class="accordion__content--left">
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">Сюжет:</h3>
                            <p class="accordion__paragraph--text">Worem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                                fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                                Maecenas eget condimentum velit, sit amet feugiat lectus. </p>
                        </div>
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">игры:</h3>
                            <ul class="accordion__paragraph--list">
                                <li class="accordion__paragraph--item">заморожу</li>
                                <li class="accordion__paragraph--item">рукавичка</li>
                                <li class="accordion__paragraph--item">ещё</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion__content--right">
                        <img src="/assets/img/art/art-4.jpg" alt="service image" class="accordion__image">
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="дискотеки для школьников" class="accordion__item">
                <div class="accordion__item--content">
                    <div class="accordion__content--left">
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">Сюжет:</h3>
                            <p class="accordion__paragraph--text">Worem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                                fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                                Maecenas eget condimentum velit, sit amet feugiat lectus. </p>
                        </div>
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">игры:</h3>
                            <ul class="accordion__paragraph--list">
                                <li class="accordion__paragraph--item">заморожу</li>
                                <li class="accordion__paragraph--item">рукавичка</li>
                                <li class="accordion__paragraph--item">ещё</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion__content--right">
                        <img src="/assets/img/art/art-4.jpg" alt="service image" class="accordion__image">
                    </div>
                </div>

            </p-accordionTab>
            <p-accordionTab header="корпоративные ёлки" class="accordion__item">
                <div class="accordion__item--content">
                    <div class="accordion__content--left">
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">Сюжет:</h3>
                            <p class="accordion__paragraph--text">Worem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                                fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                                Maecenas eget condimentum velit, sit amet feugiat lectus. </p>
                        </div>
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">игры:</h3>
                            <ul class="accordion__paragraph--list">
                                <li class="accordion__paragraph--item">заморожу</li>
                                <li class="accordion__paragraph--item">рукавичка</li>
                                <li class="accordion__paragraph--item">ещё</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion__content--right">
                        <img src="/assets/img/art/art-4.jpg" alt="service image" class="accordion__image">
                    </div>
                </div>

            </p-accordionTab>
            <p-accordionTab header="новогодние квесты" class="accordion__item">
                <div class="accordion__item--content">
                    <div class="accordion__content--left">
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">Сюжет:</h3>
                            <p class="accordion__paragraph--text">Worem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                                fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                                Maecenas eget condimentum velit, sit amet feugiat lectus. </p>
                        </div>
                        <div class="accordion__paragraph">
                            <h3 class="accordion__paragraph--head">игры:</h3>
                            <ul class="accordion__paragraph--list">
                                <li class="accordion__paragraph--item">заморожу</li>
                                <li class="accordion__paragraph--item">рукавичка</li>
                                <li class="accordion__paragraph--item">ещё</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion__content--right">
                        <img src="/assets/img/art/art-4.jpg" alt="service image" class="accordion__image">
                    </div>
                </div>


            </p-accordionTab>
        </p-accordion>
        <div class="p-accordion-header-link p-accordion-header-link__empty">
            <span class="p-accordion-header-text">empty</span>
        </div>
    </div>

</section>
