<section class="mansory">
    <div class="container">
        <h2 class="section__head">уличные гуляния</h2>
        <div class="mansory__wrapper">
            <div *ngFor="let serviceGroup of groupedServices; first as start;"
                 class="{{ start ? 'screen__left ' : 'screen__right ' }}">
                <div *ngFor="let service of serviceGroup;" class="service__card">
                    <div class="card__image">
                        <img src="{{ service.img }}" alt="Картинка услуги" class="card__image--pic">
                    </div>
                    <div class="card__text">
                        <h4 class="card__header">{{ service.title }}</h4>
                        <h5 class="card__subheader">{{ service.subTitle }}</h5>
                        
                        <p  *ngFor="let data of service.data;"  class="card__text card__text--data">{{ data.key + ' ' + data.value }}</p>
                        <p class="card__text">{{ service.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<section class="mansory">-->
<!--    <div class="container">-->
<!--        <h2 class="section__head">уличные гуляния</h2>-->
<!--        <div class="mansory__wrapper">-->
<!--            <div class="screen__left">-->
<!--                <div class="service__card">-->

<!--                    <div class="card__image">-->
<!--                        <img src="/assets/img/art/art-1.jpg" alt="" class="card__image&#45;&#45;pic">-->
<!--                    </div>-->
<!--                    <div class="card__text">-->
<!--                        <h4 class="card__header">Спектакли в пригородных посёлках</h4>-->
<!--                        <h5 class="card__subheader">Lorem ipsum dolor sit amet</h5>-->
<!--                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda-->
<!--                            beatae debitis delectus eaque eligendi.</p>-->
<!--                    </div>-->


<!--                </div>-->
<!--            </div>-->

<!--            <div class="screen__right">-->

<!--                <div class="service__card">-->
<!--                    <div class="card__image">-->
<!--                        <img src="/assets/img/art/art-2.jpg" alt="" class="card__image&#45;&#45;pic">-->
<!--                    </div>-->
<!--                    <div class="card__text">-->
<!--                        <h4 class="card__header">Программа для жилых комплексов</h4>-->
<!--                        <h5 class="card__subheader">consectetur adipisicing elit</h5>-->
<!--                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda-->
<!--                            beatae debitis delectus eaque eligendi.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="service__card">-->
<!--                    <div class="card__image">-->
<!--                        <img src="/assets/img/art/art-3.jpg" alt="" class="card__image&#45;&#45;pic">-->
<!--                    </div>-->
<!--                    <div class="card__text">-->
<!--                        <h4 class="card__header">Программа для жилых</h4>-->
<!--                        <h5 class="card__subheader">eaque eligendi eveniet expedita</h5>-->
<!--                        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda-->
<!--                            beatae debitis delectus eaque eligendi.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
