/* You can add global styles to this file, and also import other style files */
$textColor: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif, Arial;
  font-weight: normal;
  font-style: normal;
  border: none;
  list-style-type: none;
  text-decoration: none;
  color: $textColor;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1320px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {

  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 100%;
  }
}

section {
  margin-bottom: 40px;
}

.button {
  min-width: 250px;
  padding: 15px 30px;
  border-radius: 6px;
  font-family: Roboto, sans-serif, Arial;
}

.section__head {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
}


.icon {
  fill: black;
  width: 300px;
  text-align: center;
}


.icon__socials {
  width: 45px;
  height: 45px;

  .icon__pic {
    fill: #606060;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .icon__pic {
      fill: #181818;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.icon__dropdown{
  width: 1em;
  height: 1em;
  margin-right: 7px;
  .icon__pic {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    fill: #181818;
    width: 100%;
    height: 100%;
  }
}

/*
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 */
.p-inputgroup .p-element .p-dropdown {
  width: 100% !important;
}

//Input icon styles
.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,

.p-inputgroup > .p-inputwrapper:first-child > .p-component,
.p-inputgroup > .p-inputwrapper:first-child > .p-component > .p-inputtext {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

//Input styles
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup input:first-child,
.p-inputgroup > .p-inputwrapper:last-child > .p-component,
.p-inputgroup > .p-inputwrapper:last-child > .p-component > .p-inputtext {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}

.p-inputgroup-addon {
  background: #e9ecef;
  color: #6c757d;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0.75rem 0.75rem;
  min-width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.p-inputtext {
  font-size: 1rem;
  color: #495057;
  //background: #ffffff;
  padding: 0.75rem 0.75rem;
  //border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  //border-radius: 6px;
}

.p-inputwrapper{
  &:focus-visible{
    outline: none;
  }
  .p-calendar{
    &:focus-visible{
      outline: none;
    }
    .p-calendar-clear-icon{
      right: 15px;
    }
    .p-inputtext{
      &:focus-visible{
        outline: none;
      }
      border: 1px solid #ced4da;
    }
    .p-datepicker{
      background: #fff;
      .p-datepicker-calendar{
        thead th{
          padding-bottom: 15px;
        }
        tr td{
          padding-bottom: 10px;
          .p-ripple{
            display: flex;
            justify-content: center;
            /* padding: 0px; */
            /* margin: 0px; */
            align-items: center;

            /* width: 100%; */
            /* height: 100%; */
            width: 2em;
            height: 2em;
            border-radius: 50%;
            &:hover{
              background: #00000082;
              color:#fff;
            }
          }
        }
      }
      .p-datepicker-header{
        padding: 10px 10px 15px;
        .p-datepicker-month{
          margin-right:5px;
        }
        .p-datepicker-month,
        .p-datepicker-year{
          font-size: 20px;
        }
      }
    }
  }

  .p-dropdown {
    width: 100%;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    background: #ffffff;

    border: 1px solid #ced4da;

    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

    .p-dropdown-label.p-placeholder {
      color: #6c757d;
    }

    //.p-dropdown-label {
    //  background: transparent;
    //  border: 0 none;
    //  display: block;
    //  white-space: nowrap;
    //  overflow: hidden;
    //  flex: 1 1 auto;
    //  width: 1%;
    //  text-overflow: ellipsis;
    //  cursor: pointer;
    //}

    .p-overlay{
      .p-overlay-content{
        .p-dropdown-panel{
          .p-dropdown-items-wrapper{
            .p-dropdown-items{
              .p-dropdown-item-group{
                .group-label{
                  .group-label__text{
                    overflow: hidden;
                  }
                }
              }
              .p-element{

              }

            }
          }


        }
      }
    }


    .p-dropdown-trigger {
      background: transparent;
      color: #6c757d;
      width: 3rem;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .p-dropdown-clear-icon {
      color: #6c757d;
      right: 3rem;
      position: absolute;
      top: 50%;
      margin-top: -0.5rem;
    }

    .group-label {
      display: flex;
      padding: 0.75rem 0 0.75rem 0.75rem;
    }
  }


  .p-calendar-clearable{

  }


}






.layout-wrapper .layout-content .content-section.implementation {
  color: var(--text-color);
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: .5rem;
}

.p-overlay-content {
  transform-origin: inherit;
}

.p-dropdown-panel {
  background: #ffffff;
  color: #495057;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  .p-dropdown-items {
    padding: 0.75rem 0;

    .p-dropdown-item {
      margin: 0;
      padding: 0.75rem 1.25rem;
      border: 0 none;
      color: #495057;
      background: transparent;
      transition: box-shadow 0.2s;
      border-radius: 0;
      cursor: pointer;
      font-weight: 400;
      white-space: nowrap;
      position: relative;
      overflow: hidden;

      &:not(.p-highlight):not(.p-disabled):hover {
        color: #495057;
        background: #e9ecef;
      }
    }
  }
}

.inputs__container {
  display: flex;

  > * {
    margin-right: 15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__group--label {
  color: #626262;
  text-transform: capitalize;
  margin-bottom: 5px;
}

/*
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 * INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS
 */


/*
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 */

@keyframes p-component-overlay-enter-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--maskbg);
  }
}

@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}


.p-galleria-item-nav-onhover .p-galleria-item-nav {
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.p-galleria-item-nav-onhover .p-galleria-item-wrapper:hover .p-galleria-item-nav {
  pointer-events: all;
  opacity: 1;
}

.p-galleria-item-nav-onhover .p-galleria-item-wrapper:hover .p-galleria-item-nav.p-disabled {
  pointer-events: none;
}

.p-galleria-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Thumbnails */
.p-galleria-thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-shrink: 0;
}

.p-galleria-thumbnail-prev,
.p-galleria-thumbnail-next {
  align-self: center;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-galleria-thumbnail-prev span,
.p-galleria-thumbnail-next span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-galleria-thumbnail-container {
  display: flex;
  flex-direction: row;
}

.p-galleria-thumbnail-items-container {
  overflow: hidden;
  width: 100%;
}

.p-galleria-thumbnail-items {
  display: flex;
}

.p-galleria-thumbnail-item {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: .5;
}

.p-galleria-thumbnail-item:hover {
  opacity: 1;
  transition: opacity .3s;
}

.p-galleria-thumbnail-item-current {
  opacity: 1;
}

/* Positions */
/* Thumbnails */
.p-galleria-thumbnails-left .p-galleria-content,
.p-galleria-thumbnails-right .p-galleria-content {
  flex-direction: row;
}

.p-galleria-thumbnails-left .p-galleria-item-wrapper,
.p-galleria-thumbnails-right .p-galleria-item-wrapper {
  flex-direction: row;
}

.p-galleria-thumbnails-left p-galleriaitem,
.p-galleria-thumbnails-top p-galleriaitem {
  order: 2;
}

.p-galleria-thumbnails-left p-galleriathumbnails,
.p-galleria-thumbnails-top p-galleriathumbnails {
  order: 1;
}

.p-galleria-thumbnails-left .p-galleria-thumbnail-container,
.p-galleria-thumbnails-right .p-galleria-thumbnail-container {
  flex-direction: column;
  flex-grow: 1;
}

.p-galleria-thumbnails-left .p-galleria-thumbnail-items,
.p-galleria-thumbnails-right .p-galleria-thumbnail-items {
  flex-direction: column;
  height: 100%;
}

.p-galleria-thumbnails-left .p-galleria-thumbnail-wrapper,
.p-galleria-thumbnails-right .p-galleria-thumbnail-wrapper {
  height: 100%;
}

/* Indicators */
.p-galleria-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-galleria-indicator > button {
  display: inline-flex;
  align-items: center;
}

.p-galleria-indicators-left .p-galleria-item-wrapper,
.p-galleria-indicators-right .p-galleria-item-wrapper {
  flex-direction: row;
  align-items: center;
}

.p-galleria-indicators-left .p-galleria-item-container,
.p-galleria-indicators-top .p-galleria-item-container {
  order: 2;
}

.p-galleria-indicators-left .p-galleria-indicators,
.p-galleria-indicators-top .p-galleria-indicators {
  order: 1;
}

.p-galleria-indicators-left .p-galleria-indicators,
.p-galleria-indicators-right .p-galleria-indicators {
  flex-direction: column;
}

.p-galleria-indicator-onitem .p-galleria-indicators {
  position: absolute;
  display: flex;
  z-index: 1;
}

.p-galleria-indicator-onitem.p-galleria-indicators-top .p-galleria-indicators {
  top: 0;
  left: 0;
  width: 100%;
  align-items: flex-start;
}

.p-galleria-indicator-onitem.p-galleria-indicators-right .p-galleria-indicators {
  right: 0;
  top: 0;
  height: 100%;
  align-items: flex-end;
}

.p-galleria-indicator-onitem.p-galleria-indicators-bottom .p-galleria-indicators {
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: flex-end;
}

.p-galleria-indicator-onitem.p-galleria-indicators-left .p-galleria-indicators {
  left: 0;
  top: 0;
  height: 100%;
  align-items: flex-start;
}

/* FullScreen */
.p-galleria-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition-property: background-color;
}

.p-galleria-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.p-galleria-mask .p-galleria-item-nav {
  position: fixed;
  top: 50%;
  margin-top: -.5rem;
}

.p-galleria-mask.p-galleria-mask-leave {
  background-color: transparent;
}


.p-galleria .p-galleria-close {
  margin: 0.5rem;
  color: #efefef;
  width: 4rem;
  height: 4rem;
  transition: box-shadow 0.15s;
  border-radius: 4px;
}

.p-galleria .p-galleria-close .p-galleria-close-icon {
  font-size: 2rem;
}

.p-galleria .p-galleria-close:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #efefef;
}

.p-galleria .p-galleria-item-nav {
  //background: transparent;
  color: #efefef;
  width: 4rem;
  height: 4rem;
  transition: box-shadow 0.15s;
  border-radius: 4px;
  margin: 0 0.5rem;
}

.p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
.p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
  font-size: 2rem;
}

.p-galleria .p-galleria-item-nav:not(.p-disabled):hover {
  background: rgba(255, 255, 255, 0.1);
  color: #efefef;
}

.p-galleria .p-galleria-caption {
  background: rgba(0, 0, 0, 0.5);
  color: #efefef;
  padding: 1rem;
}

.p-galleria .p-galleria-indicators {
  padding: 1rem;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
  background-color: #e9ecef;
  width: 1rem;
  height: 1rem;
  transition: box-shadow 0.15s;
  border-radius: 4px;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button:hover {
  background: #dee2e6;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background: #883cae;
  color: #ffffff;
}

.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator, .p-galleria.p-galleria-indicators-top .p-galleria-indicator {
  margin-right: 0.5rem;
}

.p-galleria.p-galleria-indicators-left .p-galleria-indicator, .p-galleria.p-galleria-indicators-right .p-galleria-indicator {
  margin-bottom: 0.5rem;
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  background: rgba(0, 0, 0, 0.5);
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator button {
  background: rgba(255, 255, 255, 0.4);
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background: #883cae;
  color: #ffffff;
}

.p-galleria .p-galleria-thumbnail-container {
  background: rgba(0, 0, 0, 0.9);
  padding: 1rem 0.25rem;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  margin: 0.5rem;
  background-color: transparent;
  color: #efefef;
  width: 2rem;
  height: 2rem;
  transition: box-shadow 0.15s;
  border-radius: 4px;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #efefef;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-item-content:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
}

.p-galleria-mask {
  --maskbg: rgba(0, 0, 0, 0.9);
}

.p-image-mask {
  --maskbg: rgba(0, 0, 0, 0.9);
}

.p-image-preview-indicator {
  background-color: transparent;
  color: #f8f9fa;
  transition: box-shadow 0.15s;
}

.p-image-preview-container:hover > .p-image-preview-indicator {
  background-color: rgba(0, 0, 0, 0.5);
}

.p-image-toolbar {
  padding: 1rem;
}

.p-image-action.p-link:last-child {
  margin-right: 0;
}

.p-image-action.p-link:hover {
  color: #f8f9fa;
  background-color: rgba(255, 255, 255, 0.1);
}

.p-image-action.p-link i {
  font-size: 1.5rem;
}


.thumbnail {
  width: 25%;
  overflow: hidden;
  flex: 0 0 auto;
  padding: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}

.p-galleria-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition-property: background-color;
}

.p-galleria-mask {
  --maskbg: rgba(0, 0, 0, 0.9);
}

.p-ripple {
  overflow: hidden;
  position: relative;
}

.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
  animation-duration: 150ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: p-component-overlay-enter-animation;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}


/*
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 * GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY
 */


/*
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 */
.p-carousel-container {
  position: relative;
  height: 60vh;

  .p-carousel-prev,
  .p-carousel-next {
    position: absolute;
    height: 100%;
    z-index: 20;

    span {
      display: block;
      padding: 15px;
      border: 1px solid #9a9a9a;
      border-radius: 50%;
      font-size: 18px;
      color: #9a9a9a;
      z-index: 20;
    }

    &:hover span {
      border-color: black;
      color: black;
    }
  }

  .p-carousel-prev {
    left: 0;
    padding-left: 20px
  }

  .p-carousel-next {
    right: 0;
    padding-right: 20px
  }
}

/*
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 * CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL
 */
