<section class="service">
    <div class="container">
        <h1 class="section__head">Спектакли в пригородных посёлках</h1>
        <div class="service__wrapper">
            <div class="service__wrapper--left">
                <div class="service__data">
                    <h2 class="section__subhead">УЛИчные гуляния</h2>
                    <div class="service__data--row">
                        <h5 class="service__data--head">Возраст</h5>
                        <p class="service__data--data">от 4 до 80 лет</p>
                    </div>
                    <div class="service__data--row">
                        <h5 class="service__data--head">Длительность</h5>
                        <p class="service__data--data">от 45 минут до 3 часов</p>
                    </div>
                    <div class="service__data--row">
                        <h5 class="service__data--head">Количество участников</h5>
                        <p class="service__data--data">20-80</p>
                    </div>
                    <div class="service__data--row">
                        <h5 class="service__data--head">Элементы программы:</h5>
                        <ul class="service__data--list">
                            <li class="service__data--item">Игры</li>
                            <li class="service__data--item">Конкурсы</li>
                            <li class="service__data--item">Раздача подарков</li>
                            <li class="service__data--item">Танцы</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="service__data--row service__data--row--divided service__data--row--nomb">
                    <button class="button">К списку программ</button>
                    <button class="button">Заказать</button>
                </div>
            </div>
            <div class="service__wrapper--right">
                <app-gallery></app-gallery>
            </div>
        </div>
        <div class="service__bottom">
            <div class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis
                deserunt distinctio dolorem enim expedita omnis quod tempora tenetur? Doloremque exercitationem officia
                tempora. Libero magni numquam odit officiis qui quidem.
            </div>
            <div class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic
                odio repellendus. Aliquid, consequatur eligendi illo magnam magni nostrum suscipit ut vitae? Aut debitis
                explicabo maxime, nihil quis repudiandae unde.
            </div>
        </div>
    </div>
</section>
