<section class="service">
  <div class="container">
    <h1 class="section__head">{{ service.title }}</h1>
    <div class="service__wrapper">
      <div class="service__wrapper--left">
        <div class="service__data">
          <h2 class="section__subhead">{{ service.subTitle }}</h2>
          <div *ngFor="let data of service.data;" class="service__data--row">
            <h5 class="service__data--head">{{ data.key }}</h5>
            <p class="service__data--data">{{ data.value }}</p>
          </div>
          <div class="service__data--row">
            <p class="service__data--desc">{{ service.desc }}</p>
          </div>
        </div>
        <div class="service__data--row service__data--row--divided service__data--row--nomb">
          <button class="button">К списку программ</button>
          <button class="button">Заказать</button>
        </div>
      </div>
      <div class="service__wrapper--right">
        <app-gallery></app-gallery>
      </div>
    </div>
    <div class="service__bottom">
      <div class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis
        deserunt distinctio dolorem enim expedita omnis quod tempora tenetur? Doloremque exercitationem officia
        tempora. Libero magni numquam odit officiis qui quidem.
      </div>
      <div class="service__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio hic
        odio repellendus. Aliquid, consequatur eligendi illo magnam magni nostrum suscipit ut vitae? Aut debitis
        explicabo maxime, nihil quis repudiandae unde.
      </div>
    </div>
  </div>
</section>
<app-related></app-related>
