.service{
    margin-top: 40px;
    //height: 100vh;
}

.service__wrapper{
    display: flex;
    margin-bottom: 40px;
}

.section__subhead{
    text-transform: uppercase;
    margin-bottom: 40px;
}
.service__data--row{
    display: flex;
    margin-bottom: 20px;
    .service__data--head,
    .service__data--data,
    .service__data--list{
        font-size: 20px;
        flex: 1;
    }
}

.service__data--row--divided{
    justify-content: space-between;
}

.service__data--row--nomb{
    margin-bottom: 0;
}

.service__wrapper--left,
.service__wrapper--right{
    flex: 1;
}

.service__wrapper--left{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service__bottom{
    margin-top: 40px;
    margin-bottom: 40px;
}

.service__paragraph{
    font-size: 20px;
    margin-bottom: 20px;
}
