<section class="order">
    <div class="container">
        <h2 class="section__head">Оставьте заявку прямо сейчас!</h2>
        <div class="order__wrapper">
            <div class="order__form">
                <label class="order__form--inputs">
                    <div class="order__form--row">
                        <label class="order__form--input">
                            <span class="form__group--label">имя</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="имя">
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">фамилия</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText placeholder="фамилия">
                            </div>
                        </label>
                    </div>
                    <div class="order__form--row">
                        <label class="order__form--input">
                            <span class="form__group--label">email</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input type="text" pInputText placeholder="email">
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">телефон</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                                <input type="text" pInputText placeholder="телефон">
                            </div>
                        </label>
                    </div>
                    <div class="order__form--row">
                        <label class="order__form--input">
                            <div class="form__group">
                                <span class="form__group--label">Город</span>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                    <p-dropdown [options]="cities" optionLabel="name" [showClear]="true"
                                                placeholder="Выберите город"></p-dropdown>
                                </div>
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">улица</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-directions-alt"></i></span>
                                <input type="text" pInputText placeholder="улица">
                            </div>
                        </label>
                    </div>
                    <div class="order__form--row">
                        <label class="order__form--input">
                            <span class="form__group--label">дом</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                                <input type="text" pInputText placeholder="дом">
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">квартира</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                                <input type="text" pInputText placeholder="квартира">
                            </div>
                        </label>
                    </div>

                    <div class="order__form--row">
                        <label class="order__form--input">
                            <div class="form__group">
                                <span class="form__group--label">Программа</span>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                    <p-dropdown [options]=groupedServices optionLabel="label" [showClear]="true"
                                                placeholder="Выберите программу" [group]="true">
                                        <ng-template let-group pTemplate="group">
                                            <div class="group-label">
                                                <div class="icon icon__dropdown">
                                                    <svg class="icon__pic">
                                                        <use attr.xlink:href="/assets/img/sprite.svg#{{ group.value }}"></use>
                                                    </svg>
                                                </div>
                                                <span class="group-label__text">{{group.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">дата</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                <p-calendar [showClear]="true" placeholder="Выберите дату"></p-calendar>
                            </div>
                        </label>
                    </div>
                    <div class="order__form--row">
                        <label class="order__form--input">
                            <span class="form__group--label">возраст участников</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-bell"></i></span>
                                <input type="text" pInputText placeholder="возраст участников">
                            </div>
                        </label>
                        <label class="order__form--input">
                            <span class="form__group--label">Количество участников</span>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
                                <input type="text" pInputText placeholder="количество участников">
                            </div>
                        </label>
                    </div>
                    <div class="order__form--row">
                        <div class="order__form--textarea">
                            <span class="form__group--label">Комментарий</span>
                            <textarea class="order__textarea" rows="8" placeholder="комментарий"
                                      pInputTextarea></textarea>
                        </div>
                    </div>
                </label>
                <button class="button">Заказать</button>
            </div>
            <div class="order__service">
                <div class="order__service--content">
                    <div class="order__service--image">
                        <img src="{{ service.img }}" alt="service" class="order__service--image-pic">
                    </div>
                    <div class="order__service--desc">
                        <h4 class="order__service--desc--head">{{ service.title }}</h4>
                        <h5 class="order__service--desc--subhead">{{ service.category.title }}</h5>
                        <div class="order__service--desc--table">
                            <div *ngFor="let data of service.data;" class="order-service__row">
                                <p class="order-service__head">{{ data.key }}</p>
                                <p class="order-service__data">{{ data.value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button">Подробнее о программе</button>
            </div>
        </div>
    </div>
</section>
<app-related></app-related>
